[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-jwt = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
uwsgi = "*"
psycopg2 = "*"
flask = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.9"
